[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
black = "*"
langchain-groq = "*"
langchain-openai = "*"
langchain-community = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
langchain-tavily = "*"

[dev-packages]

[requires]
python_version = "3.13"
